<mat-nav-list>
  <mat-list-item>
    <mat-icon color='primary'>home</mat-icon>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h5 mat-subheader>Projects</h5>
  <mat-list-item [routerLink]="['/project']">
    <mat-icon mat-list-icon color='primary' >list</mat-icon>
    <span>Project List</span>
  </mat-list-item>
  <h5 mat-subheader>Tasks</h5>
  <mat-list-item [routerLink]="['/tasklists']">
    <mat-icon mat-list-icon color='primary'>exit_to_app</mat-icon>
    <span>Task List</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h5 mat-subheader>Calender</h5>
  <mat-list-item>
    <mat-icon mat-list-icon color='primary' svgIcon="month"></mat-icon>
    <span>Month</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon color='primary' svgIcon="week"></mat-icon>
    <span>week</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon color='primary' [svgIcon]="today"></mat-icon>
    <span>Day</span>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-nav-list>
