<mat-nav-list>
  <mat-list-item>
    <mat-icon color='primary'>home</mat-icon>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h5 mat-subheader>Projects</h5>
  <mat-list-item>
    <mat-icon mat-list-icon color='primary'>list</mat-icon>
    <span>To Do</span>
    </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon color='primary'>exit_to_app</mat-icon>
    <span>In Progress</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon color='primary'>done</mat-icon>
    <span>Done</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h5 mat-subheader>Calender</h5>
  <mat-list-item>
    <mat-icon mat-list-icon color='primary' svgIcon="month"></mat-icon>
    <span>Month</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon color='primary' svgIcon="week"></mat-icon>
    <span>week</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon color='primary' [svgIcon]="today"></mat-icon>
    <span>Day</span>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-nav-list>
