<mat-list>
  <mat-list-item>
    <mat-icon color='primary'>home</mat-icon>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h5>Projects</h5>
  <mat-list-item>
    <mat-icon mat-list-icon color='primary'>list</mat-icon>
    <span>To Do</span>
    </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon color='primary'>exit_to_app</mat-icon>
    <span>In Progress</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon color='primary'>done</mat-icon>
    <span>Done</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h5>Calender</h5>
  <mat-list-item>
    <mat-icon mat-list-icon color='primary'>calendar_today</mat-icon>
    <span>meetings</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon color='primary'>date_range</mat-icon>
    <span>Holidays</span>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
