<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Your email..." formControlName="email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Your name" formControlName="name">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Your password..." formControlName="password">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Repeat your password..." formControlName="repeatPassword">
      </mat-form-field>
      <app-image-list-select
        [useSvgIcon]="true"
        [cols]="6"
        [title]="'Select Avatar: '"
        [items]="items"
        formControlName="avatar"></app-image-list-select>
      <app-age-input formControlName="dateBirth"></app-age-input>
      <button mat-raised-button color="accent" type="submit" >Register</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>No account?&nbsp;<a href="#">Login</a></p>
      <p>Forget password? &nbsp;<a href="#">Find</a></p>
    </mat-card-actions>
  </mat-card>
</form>
