.project-card {
  max-height: 360px;
  margin: 10px;
  flex: 0 0 360px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.fab-button {
  position: fixed;
  right: 32px;
  bottom:96px;
  z-index: 998;
}