<div mat-subheader class="header-container">
  <div>
    <h3>{{header}}</h3>
  </div>
  <div class="fill">
    <button mat-button>
      <mat-icon color="primary">
        add_circle_outline
      </mat-icon>
      <span>New task</span>
    </button>
  </div>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>mode_edit</mat-icon>
    <span>Edit List Name</span>
  </button>
  <button mat-menu-item>
    <mat-icon [svgIcon]="'move'"></mat-icon>
    <span>Move List Content</span>
  </button>
  <button mat-menu-item>
    <mat-icon>delete_forever</mat-icon>
    <span>Delete List</span>
  </button>
</mat-menu>