<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Your email..."
               formControlName="email">
        <mat-error>{{form.controls['email'].errors | json}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Your password..."
               formControlName="password">
      </mat-form-field>
      <button mat-raised-button  type="submit" [disabled]="!form.valid">Login</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>No account?&nbsp;<a routerLink="/register">Register</a></p>
      <p>Forget password? &nbsp;<a href="#">Find</a></p>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Quotes of the day
      </mat-card-title>
      <mat-card-subtitle>
        {{quote.cn}}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="quote.pic">
    <mat-card-content>
      {{quote.en}}
    </mat-card-content>
  </mat-card>
</form>