<mat-list-item class="container"
  [@item] = 'widerPriority'
  [ngClass]="{
  'priority-normal': item.priority === 3,
  'priority-important': item.priority === 2,
  'priority-emergency': item.priority ===1}"
  [app-draggable] = "true"
  [draggedClass]="'dragStart'"
  (click)="onItemClick()">
  <mat-checkbox class="completion-status" [checked]="item.completed"
                (click)="onCheckboxClick($event)"></mat-checkbox>
  <div mat-line class="content" [ngClass]="{'completed': item.completed}">
      <!--[class.completed]='item.completed'-->
    <span [matTooltip]="item.desc">{{item.desc}}</span>
  </div>
  <div mat-line class="bottom-bar">
    <span class="dueDate" *ngIf="item.dueDate">{{item.dueDate | date: "yy-MM-dd"}}</span>
    <ng-template ngIf="item.reminder">
      <!--<mat-icon *ngIf="item.reminder">alarm</mat-icon>-->
      <mat-icon>alarm</mat-icon>
    </ng-template>


  </div>
  <mat-icon [svgIcon]="avatar" mat-list-avatar class="avatar"></mat-icon>
</mat-list-item>