.mat-icon.avatar {
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 12px;
  order: 3;
}

.dueDate {
  background-color: orange;
  color:#fff;
  border-radius: 3px;
}

.alarm {
  font-size: 18px;
}
.bottom-bar {
  margin-top: 3px;
  margin-bottom: 2px;
  font-size: 10px;
  width: 100%;
  order:1;
}

.content {
  width: 100%;
  order: 1;
  padding: 5px;
}

.container {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.completed {
  opacity: 0.64;
  color: #d9d9d9;
  text-decoration: line-through;
}

.completion-status {
  order: -1;
}

:host {
  width: 100%;
}

.priority-normal {
  border-left: 3px solid #A6A6A6;
}

.priority-important {
  border-left: 3px solid #FFAF38;
}

.priority-emergency {
  border-left: 3px solid red;
}
